html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans";
  background: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1.75rem;
}

header {
  text-align: center;
  display: block;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  padding: .75rem;
  border-left: 1px solid #000;
  width: 25%;
  height: 24em;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
  font-size: 1rem;
}

h3 {
  margin: 0;
}

.text {
  text-align: left;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

i {
  font-size: .875rem;
}

p {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

.image {
  width: 100px;
  margin: auto;
}

.card {
  background-color: #e2e2e2;
}

.card-two {
  background-color: #ccc;
}

.card-three {
  background-color: #aaa;
}

.card-four {
  background-color: #999;
  border-right: 1px solid #000;
}

.btn {
  color: #f2f2f2;
  display: block;
  background-color: #333;
  margin-top: auto;
}

.btn-small {
  font-size: .875rem;
  padding: .25rem;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  background-color: #333;
  margin-top: auto;
}

.btn:hover {
  background-color: #000;
}

main section:first-child div.btn {
  align-items: flex-end;
  flex-grow: 2;
}

.card-2 {
  align-items: flex-end;
  flex-grow: 1;
}

.card div.btn,
.card-three div.btn {
  margin-top: 3em;
}
